:root {
  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
}

body {
  text-align: center;
  font-family: var(--font-main);
  font-size: 16px;
  /*   color: var(--fontcolor-body); */
}

div p {
  margin: 0;
  padding: 0;
}

.hero__title {
  background: linear-gradient(#e66465, #73ff00);
  color: black;
  padding: 10px;
  font-weight: 700;
  font-family: var(--font-logo);
}

.one-block {
  position: absolute;

  width: 22px;
  height: 22px;
  background-color: darkkhaki;
  border: 1px solid darkolivegreen;
  /*   background-color: gray; */
  display: inline-block;
  /*   font-size:6px; */
}

.snake-field {
  position: relative;
  margin: 0 auto;
  padding-top: 2px;
  width: 600px;
  height: 600px;
  border: 5px solid darkgreen;
  border-radius: 5px;
  background-color: rgb(146, 163, 45);
}

.snake-intro-modal {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 13px;
  right: -43px;
  height: 244px;
  padding-right: 10px;
  border: 3px solid darkolivegreen;
  border-radius: 3px;
  text-align: left;
  background-color: rgb(146, 163, 45);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms linear;
}

.snake-intro-modal__hover-frame:hover ~ .snake-intro-modal {
  transform: translate(-48px);
  opacity: 1;
  z-index: 0;
}

.snake-intro-modal__hover-frame {
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 250px;
  top: 10px;
  right: -46px;
  background-color: rgb(146, 163, 45);
  border: 5px solid darkgreen;
  border-radius: 5px;
  cursor: pointer;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 0 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.snake-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 2px;
  width: 600px;
  height: 50px;
  border: 5px solid darkgreen;
  border-radius: 5px;
  background-color: darkkhaki;
}

.snake-result__title {
  margin: 0 10px;
  font-weight: 600;
}

.snake-result__start-btn {
  margin: 0 10px;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}

.snake-result__apples-left,
.snake-result__eaten-apples {
  margin: 0 5px;
}

.snake-result__eaten-apples {
  color: darkgreen;
}

.snake-result__apples-left {
  color: brown;
}

.footer-container__treasure {
  min-width: 60%;
}

.footer-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 10px ;

  width: 600px;
  border: 5px solid darkgreen;
  border-radius: 5px;
  background-color: darkkhaki;
}

.js-date,
.js-clock-min,
.js-clock-sec {
  font-weight: 700;
}

.date-name,
.clock-name {
  margin-right: 5px;
  font-weight: 600;
}

.snake-on-branch {
  position: absolute;
  left: -300px;
  width: 300px;
  height: 190px;
  background-image: url("../images/snake-on-branch.png");
  background-repeat: no-repeat;
}

.snake-on-grass {
  z-index: -1;
  position: absolute;
  right: -180px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-image: url("../images/snake-on-grass.png");
}
.fine-things-around {
  position: relative;
  margin: 0 auto;
  padding-top: 2px;
  width: 600px;
  height: 600px;
}

.footer-container__apples-number{
  width:45px;
}